name: test

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        go: ['1.13.5']
        os: [ubuntu-latest, macOS-latest, windows-latest]
    name: Go ${{ matrix.go }} test in ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go }}

      - name: Environment
        run: |
          go version
          go env

      - name: Test
        run: make test

      - name: Build
        run: make build

      - uses: actions/upload-artifact@v1
        if: runner.os == 'linux'
        with:
          name: bin
          path: ./bin

      # after success
#      - name: Coverage
#        if: startsWith(matrix.os, 'ubuntu')
#        run: |
#          go get golang.org/x/tools/cmd/cover
#          go get github.com/mattn/goveralls
#          /home/runner/go/bin/goveralls -coverprofile=coverage.out -service=github-action -repotoken ${{ secrets.COVERALLS_TOKEN }}

  release:
    name: Release to Github
    if: startsWith(github.ref, 'refs/tags/') && github.repository == 'axetroy/dvm'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v1
        with:
          name: bin

      - uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          files: |
            bin/dvm_darwin_amd64.tar.gz
            bin/dvm_linux_amd64.tar.gz
            bin/dvm_linux_arm64.tar.gz
            bin/dvm_freebsd_amd64.tar.gz
            bin/dvm_openbsd_amd64.tar.gz
            bin/dvm_openbsd_arm64.tar.gz
            bin/dvm_windows_amd64.tar.gz
          draft: false